<!DOCTYPE html>
<html>
    
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 

</head>

<body>

    <div class="main-content">
        {{>header}}
        <center><p style="font-family: sans-serif; font-size: 18px">This site was created by Pratik Mewara. <br>It uses data from mapbox.com and openweathermap.org  !</p></center>
        <center><img class="portrait" src="/img/pratik.jpg"></center>
    </div>

    {{>footer}}
</body>
  
</html>