<!DOCTYPE html>
<html>
    
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p style="font-family: sans-serif; font-size: 24px">You can use Search-box to find the weather of any location.</p>
         <p style="font-family: sans-serif; font-size: 24px">Describe your location correctly to get better results.</p>
    </div>
 
    {{>footer}}
   
</body>

</html>