<!DOCTYPE html>
<html>
    
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css"> 


</head>

<body >
    <div class="main-content">
        {{>header}}
        <p style="font-family: sans-serif; font-size: 20px">Use  this  site  to  get  Your  Weather !</p>

        <form >
            <input size="50"  placeholder="Location"><br><br>
            <center><button>Search</button></center>
        </form>


        <p id="m1" style="font-family: sans-serif; font-size: 26px;"></p>
        <p id="m2" style="font-family: sans-serif; font-size: 20px;"></p>
    </div>

   
    {{>footer}}
    
    <script src="/js/app.js"> </script>

</body>

</html>